.left{
    position: relative;
    font-size: 56px;
    top: 50px;
    left: 175px;
}

.left :hover{
    color: #767676;
    transition: ease-in-out .3s;
    transition-delay: .2s;
    cursor: pointer;
}

.right{
    position: relative;
    font-size: 56px;
    top: 50px;
    left: 175px;
}

.right :hover{
    color: #767676;
    transition: ease-in-out .3s;
    transition-delay: .2s;
    cursor: pointer;
}

.img{
    width: 500px;
    height: 300px;
    border-radius: 12px;
}